<div class="relative flex flex-col items-center justify-center min-h-screen bg-gray-100" >
    <img
      src="img/empleo-mineria.jpg"  
      alt="Fondo"
      class="absolute inset-0 object-cover w-full h-full opacity-50 blur-sm" 
    />
    <h2 class="text-xl font-bold mb-4 relative z-10">Gestión Integral de Faenas</h2>
    <img
      src="img/3135715.png" 
      alt="Imagen de Login"
      class="w-48 h-48 object-cover mb-4 relative z-10" 
    />
    <button
      class="bg-gray-800 text-white font-semibold py-2 px-4 rounded transition duration-300 relative z-10"
      (click)="iniciarSesion()"
    >
      Iniciar Sesión
    </button>
</div>
